@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1ftc0o');
  src:  url('fonts/icomoon.eot?1ftc0o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1ftc0o') format('truetype'),
    url('fonts/icomoon.woff?1ftc0o') format('woff'),
    url('fonts/icomoon.svg?1ftc0o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thumbsup:before {
  content: "\e912";
}
.icon-user:before {
  content: "\e901";
}
.icon-profile:before {
  content: "\e901";
}
.icon-account:before {
  content: "\e901";
}
.icon-avatar:before {
  content: "\e901";
}
.icon-tag-stroke:before {
  content: "\e902";
}
.icon-price:before {
  content: "\e902";
}
.icon-thumbs-up:before {
  content: "\e908";
}
.icon-home:before {
  content: "\e90a";
}
.icon-home3:before {
  content: "\e903";
}
.icon-quill:before {
  content: "\e907";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-bell:before {
  content: "\e951";
}
.icon-search:before {
  content: "\e986";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-crop:before {
  content: "\ea57";
}
.icon-keyboard_arrow_right:before {
  content: "\e910";
}
.icon-keyboard_arrow_down:before {
  content: "\e911";
}
.icon-messages:before {
  content: "\e900";
}
.icon-folder-outline:before {
  content: "\e90c";
}
.icon-tag-stroke:before {
  content: "\e902";
}
.icon-price:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e90a";
}
.icon-folder-open-o:before {
  content: "\e90f";
}
.icon-book:before {
  content: "\e90b";
}
.icon-edit:before {
  content: "\e904";
}
.icon-pencil-square-o:before {
  content: "\e904";
}
.icon-commenting-o:before {
  content: "\e905";
}
.icon-tags:before {
  content: "\e906";
}
.icon-like:before {
  content: "\e909";
}
.icon-thumbs-up2:before {
  content: "\e909";
}
.icon-approve:before {
  content: "\e909";
}
.tag-bg-img{margin-right:10px;background:url(../img/tagBg.png)  no-repeat;}
.default{height:64px;width:64px;background-position:-384px 0;}
.react{height:64px;width:64px;background-position:0 0;}
.sass{height:64px;width:64px;background-position:-64px 0;}
.nodejs{height:64px;width:64px;background-position:-128px 0;}
.node{height:64px;width:64px;background-position:-128px 0;}
.mysql{height:64px;width:64px;background-position:-192px 0;}
.nginx{height:64px;width:64px;background-position:-256px 0;}
.unix{height:64px;width:64px;background-position:-320px 0;}
.webserver{height:64px;width:64px;background-position:-448px 0;}
.safe{height:64px;width:64px;background-position:-512px 0;}
.vue{height:64px;width:64px;background-position:-576px 0;}
.Vue{height:64px;width:64px;background-position:-576px 0;}
.windows{height:64px;width:64px;background-position:-640px 0;}
.mongodb{height:64px;width:64px;background-position:-704px 0;}
.mongoDB{height:64px;width:64px;background-position:-704px 0;}
.chrome{height:64px;width:64px;background-position:-768px 0;}
.css3{height:64px;width:64px;background-position:-832px 0;}
.css{height:64px;width:64px;background-position:-832px 0;}
.c{height:64px;width:64px;background-position:-896px 0;}
.ajax{height:64px;width:64px;background-position:-960px 0;}
.axios{height:64px;width:64px;background-position:-960px 0;}
.angular{height:64px;width:64px;background-position:-1024px 0;}
.Angular{height:64px;width:64px;background-position:-1024px 0;}
.html5{height:64px;width:64px;background-position:-1088px 0;}
.html{height:64px;width:64px;background-position:-1088px 0;}
.less{height:64px;width:64px;background-position:-1152px 0;}
.life{height:64px;width:64px;background-position:-1216px 0;}
.javascript{height:64px;width:64px;background-position:-1280px 0;}
.JavaScript{height:64px;width:64px;background-position:-1280px 0;}
.js{height:64px;width:64px;background-position:-1280px 0;}
.http{height:64px;width:64px;background-position:-1344px 0;}
.java{height:64px;width:64px;background-position:-1408px 0;}
.Java{height:64px;width:64px;background-position:-1408px 0;}
.response{height:64px;width:66px;background-position:-1472px 0;}
.cloundserver{height:64px;width:88px;background-position:-1538px 0;}
