// 全局样式覆盖
@import './index.scss';
body,
button,
input,
p,
li,
ol,
ul,
div,
section,
article,
td,
th,
span,
textarea,
form,
footer,
header,
nav,
main,
address,
aside,
pre,
canvas {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 400 14px/20px -apple-system, BlinkMacSystemFont, Arial, Helvetica, Tahoma, '华文细黑', 'Microsoft YaHei',
    '微软雅黑', sans-serif;

  @include themeify() {
    color: themed('color-default');
  }
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  @include themeify() {
    color: themed('color-default');
  }
}
#app {
  overflow: hidden;
}
