// 全局样式覆盖

body,
button,
input,
p,
li,
ol,
ul,
div,
section,
article,
td,
th,
span,
textarea,
form,
footer,
header,
nav,
main,
address,
aside,
pre,
canvas {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 400 16px/20px Arial, Helvetica, Tahoma, '华文细黑', 'Microsoft YaHei', '微软雅黑', sans-serif;
  color: #000;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
#app {
  overflow: hidden;
}
